<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QSC_Test_Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QSC_Test_Automation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true" >
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
   <runtime>
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=joyce;user=sa;password=jasmin@321"/>  
  </connectionStrings>
  <appSettings>
    <add key="Path" value=""/>
  </appSettings>
  <applicationSettings>
    <QSC_Test_Automation.Properties.Settings>
      <setting name="ServerPathBDR" serializeAs="String">
        <value>\\1usbrsqadbd01\\SQA_QAT_Server</value>
      </setting>
      <setting name="ReportlinkBDR" serializeAs="String">
        <value>http://1usbrsqadbd01/SQA_QAT_Server/</value>
      </setting>
      <setting name="ReleaseFolderBDR" serializeAs="String">
        <value>\\1usbrsqadbd01\SQA_QAT_Server\QATsetup</value>
      </setting>
      <setting name="ServerPathCM" serializeAs="String">
        <value>\\1uscmsqadbd01\\SQA_QAT_Server</value>
      </setting>
      <setting name="ReportlinkCM" serializeAs="String">
        <value>http://1uscmsqadbd01/SQA_QAT_Server/</value>
      </setting>
      <setting name="ReleaseFolderCM" serializeAs="String">
        <value>\\1uscmsqadbd01\SQA_QAT_Server\QATsetup</value>
      </setting>
      <setting name="ReportlinkOthers" serializeAs="String">
        <value>http://1uscmsqadbd01/SQA_QAT_Server/</value>
      </setting>
      <setting name="ReleaseFolderOthers" serializeAs="String">
        <value>\\1uscmsqadbd01\SQA_QAT_Server\QATsetup</value>
      </setting>
      <setting name="SandboxPathBDR" serializeAs="String">
        <value>\\1usbrsqadbd01\\SQA_QAT_Sandbox</value>
      </setting>
      <setting name="ServerPathJAS" serializeAs="String">
        <value>\\qscserver\QSC_Manual\TestDesigns</value>
      </setting>
      <setting name="ReportlinkJAS" serializeAs="String">
        <value>http://qscserver/reports/</value>
      </setting>
      <setting name="ReleaseFolderJAS" serializeAs="String">
        <value>\\qscserver\QSC_Manual\QATsetup</value>
      </setting>
      <setting name="SandboxPathJAS" serializeAs="String">
        <value>\\qscserver\Sandbox</value>
      </setting>
      <setting name="ReportlinkBDR_sandbox" serializeAs="String">
        <value>http://1usbrsqadbd01/SQA_QAT_Server/?DB=Sandbox</value>
      </setting>
      <setting name="ReportlinkJAS_sandbox" serializeAs="String">
        <value>http://qscserver/reports/?DB=Sandbox</value>
      </setting>
      <setting name="ReportlinkCM_sandbox" serializeAs="String">
        <value>http://1uscmsqadbd01/SQA_QAT_Server/?DB=Sandbox</value>
      </setting>
      <setting name="SandboxPathCM" serializeAs="String">
        <value>\\1uscmsqadbd01\\SQA_QAT_Sandbox</value>
      </setting>
      <setting name="email_link" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailIdSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Execution_dev_mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Core_Password_Skip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Autoevent_wait_time" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Ssh_Command_Execution_timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PcapFilter" serializeAs="String">
        <value>portrange=&amp;notport=false&amp;disablemcast=false&amp;pktlen=&amp;capsize=100</value>
      </setting>
      <setting name="Deploy_time_upperlimit" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="FirmwareTime_upperlimit" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="API_key_JAS" serializeAs="String">
        <value>eyJrIjoiV1JzN1pjNloxeG5PenlRbjVBUlNiSXdraEZ2bjk1blkiLCJuIjoiUUFUX0tleSIsImlkIjoxfQ==</value>
      </setting>
      <setting name="API_key_CM" serializeAs="String">
        <value>eyJrIjoieUR1Y2ZzMDJWNEVSdlV0NXhZeVN5YklTYmQ5UUhpdE8iLCJuIjoiYWRtaW4iLCJpZCI6MX0=</value>
      </setting>
      <setting name="API_key_BDR" serializeAs="String">
        <value>eyJrIjoiUGFrS1htRFVrVWduMUVWN3JjUnptV1g2UE9ja2JMWm8iLCJuIjoiYWRtaW4iLCJpZCI6MX0=</value>
      </setting>
      <setting name="DigestFirmwareVersion" serializeAs="String">
        <value>8.3</value>
      </setting>
      <setting name="NewDepolySchemeFirmwareVersion" serializeAs="String">
        <value>8.4</value>
      </setting>
      <setting name="GrafanaPlotly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Delay_after_connect" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="OthersHostMachineName" serializeAs="String">
        <value>gurutn</value>
      </setting>
      <setting name="ReleaseFolderBLR" serializeAs="String">
        <value>\\inbgdsqrem1-w10\SQA_QAT_Server\QATsetup</value>
      </setting>
      <setting name="SandboxPathBLR" serializeAs="String">
        <value>\\inbgdsqrem1-w10\SQA_QAT_Sandbox</value>
      </setting>
      <setting name="ReportlinkBLR_sandbox" serializeAs="String">
        <value>http://inbgdsqrem1-w10/SQA_QAT_Server/?DB=Sandbox</value>
      </setting>
      <setting name="ServerPathBLR" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportlinkBLR" serializeAs="String">
        <value>http://inbgdsqrem1-w10/SQA_QAT_Server/</value>
      </setting>
      <setting name="API_key_BLR" serializeAs="String">
        <value>eyJrIjoiMXBqV3pKTmZ3VVlTeGRUaVgyVm1CZ1plamJLTmd2RDciLCJuIjoiUUFUX0JhbmdhbG9yZSIsImlkIjoxfQ==</value>
      </setting>
      <setting name="API_key_Others" serializeAs="String">
        <value>eyJrIjoiNlVaOUlNOUhJWm5pTGhuVDZjVHdmTVlXUkRMTEVzZ3IiLCJuIjoiVGVzdCIsImlkIjoxfQ==</value>
      </setting>
      <setting name="DeployMonitor_TotaltimeOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NewPeripheralFirmwareVersion" serializeAs="String">
        <value>9.2</value>
      </setting>
      <setting name="ConstringJAS" serializeAs="String">
        <value>Data Source=nodata;user=sa;password=nodata</value>
      </setting>
      <setting name="ConstringCM" serializeAs="String">
        <value>Data Source=nodata;user=sa;password=nodata</value>
      </setting>
      <setting name="ConstringBDR" serializeAs="String">
        <value>Data Source=nodata;user=sa;password=nodata</value>
      </setting>
      <setting name="RunnerDB_SANDBOX" serializeAs="String">
        <value>RunnerSandboxTestDB</value>
      </setting>
      <setting name="DesignerDB_SANDBOX" serializeAs="String">
        <value>DesignerSandboxTestDB</value>
      </setting>
      <setting name="availableservers" serializeAs="String">
        <value>OTHERS</value>
      </setting>
      <setting name="GrafanaDB_SANDBOX" serializeAs="String">
        <value>GrafanaSandboxTestDB</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerPathOthers" serializeAs="String">
        <value>\\joyce\QATserver</value>
      </setting>
      <setting name="GrafanaDB" serializeAs="String">
        <value>GrafanaTestDB</value>
      </setting>
      <setting name="RunnerDB" serializeAs="String">
        <value>RunnerTestDB</value>
      </setting>
      <setting name="DesignerDB" serializeAs="String">
        <value>DesignerTestDB</value>
      </setting>
      <setting name="ConstringBLR" serializeAs="String">
        <value>Data Source=nodata;user=sa;password=nodata</value>
      </setting>
      <setting name="QREMreflectLink" serializeAs="String">
        <value>qa.reflect.qsc.com</value>
      </setting>
    </QSC_Test_Automation.Properties.Settings>
  </applicationSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"  />
    </settings>
  </system.net>
  <userSettings>
    <QSC_Test_Automation.Properties.Settings>
      <setting name="DevicePassword" serializeAs="String">
        <value>Aaa111*</value>
      </setting>
      <setting name="DeviceUsername" serializeAs="String">
        <value>QATadmin</value>
      </setting>
      <setting name="CompareFirmwareVersion" serializeAs="String">
        <value>8.0</value>
      </setting>
      <setting name="TelnetUserName" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="TelnetPassword" serializeAs="String">
        <value>decline</value>
      </setting>
      <setting name="Designversion" serializeAs="String">
        <value />
      </setting>
      <setting name="Qsyscheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="Qsystemppath" serializeAs="String">
        <value />
      </setting>
      <setting name="TesterName" serializeAs="String">
        <value />
      </setting>
      <setting name="Category" serializeAs="String">
        <value />
      </setting>
      <setting name="Restorecheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="AfterTestCaseFails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutomationPauses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AfterExecutionCompletion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationCrashes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReportEmailID" serializeAs="String">
        <value />
      </setting>
      <setting name="TestCaseFailsCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="upgradeedr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value> E:\test</value>
      </setting>
      <setting name="QATPrefix" serializeAs="String">
        <value>Bank Control,Input,-Output,*Bank Control,=BANK_CONTROL_INPUT ;Bank Control,Output,Input,*Bank Control,=BANK_CONTROL_INPUT_OUTPUT ;Bank Control,Output,-Input,*Bank Control,=BANK_CONTROL_OUTPUT ;Bank Select,Input,*Bank Select,=BANK_SELECT_INPUT ;Bank Select,Output,*Bank Select,=BANK_SELECT_OUTPUT ;Channel,*Channel,=CHANNEL ; GPIO,Input,-Out,*GPIO,=GPIO_INPUT ;GPIO,Out,-Input,*GPIO,=GPIO_OUTPUT ;Input,-Output,*Input,-Bank Control,-Bank Select,-GPIO,=INPUT ;Input,Output,*Input,-Bank Control,-Bank Select,-GPIO,=INPUT_OUTPUT ;Output,-Input,*Output,-Bank Control,-Bank Select,-GPIO,=OUTPUT ;Output,Input,*Output,-Bank Control,-Bank Select,-GPIO,=OUTPUT_INPUT ;Tap,*Tap,=TAP ;</value>
      </setting>
      <setting name="YouTubeLink" serializeAs="String">
        <value>https://www.youtube.com/channel/UC-R9BKbnhoDAK2KHG9Jy5sg</value>
      </setting>
      <setting name="currentserver" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerPath" serializeAs="String">
        <value>\\1uscmsqadbd01\\SQA_QAT_Server</value>
      </setting>
      <setting name="Reportlink" serializeAs="String">
        <value>http://1uscmsqadbd01/SQA_QAT_Server/</value>
      </setting>
      <setting name="ReleaseFolder" serializeAs="String">
        <value>\\1uscmsqadbd01\SQA_QAT_Server\QATsetup</value>
      </setting>
      <setting name="ReportEmailSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="Bypass_time" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bypass_checkvalue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TelnetPreference" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Netpairlist" serializeAs="String">
        <value>I/O-22,DPA4.2Q,DPA4.3Q,DPA4.5Q,I/O-Frame,I/O-Frame8S,PS-400H,PS-800H,PS-1600H,PS-1650H,TSC-8,TSC-7,CXD4.3Q,PTZ-12x72,PTZ-20x60,CXD4.2Q,I/O-USB-Bridge,TSC-47-G2,TSC-3,PS-400G,I/O-510i,CXD4.5Q,VS3x2MD,CXD8.8Q,DCIO,DCIO-H,TSC-7t,TSC-7w, I/O-8 Flex,CXD8.4Q,TSC-116-G2</value>
      </setting>
      <setting name="Dev_mode_ssh_delay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BrowserPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AddreportLink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QREMUserName" serializeAs="String">
        <value>guru.tn@qsc.com</value>
      </setting>
      <setting name="QREMPassword" serializeAs="String">
        <value>Jasmin@123</value>
      </setting>
    </QSC_Test_Automation.Properties.Settings>
  </userSettings>
</configuration>
